@model IEnumerable<BuildingAgency.Models.PrivateOwner>

@{
    Layout = null;
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OwnerPassportNo)
            </th>
            <th>
                Client's full name
            </th>
            <th>
                Phone number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerPassportNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OwnerId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OwnerId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OwnerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



