@model IEnumerable<BuildingAgency.Models.Staff>

@{
    Layout = null;
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffPassportNo)
            </th>
            <th>
                Client's full name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Superviser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffPassportNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @item.DateOfBirth.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Superviser.FullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StaffId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.StaffId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StaffId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>






