@model IEnumerable<BuildingAgency.Models.Viewing>

@{
    ViewData["Title"] = "Index";
}


<p />
<a asp-controller="Account" asp-action="ControllPanel">Back to Control Panel</a>
<hr />

<div>
    <div class="form-group">

        <label class="col-md-2 control-label">Sort by</label>
        <div class="col-md-2">
            <select id="SortParam" class="form-control">
                @for (int i = 0; i < ViewBag.SortParams.Count; i++)
                {
                    <option>@ViewBag.SortParams[i]</option>
                }
            </select>
        </div>

        <label class="col-md-2 control-label">Search by</label>
        <div class="col-md-2">
            <select id="SearchParam" class="form-control">
                @for (int i = 0; i < ViewBag.SearchParams.Count; i++)
                {
                    <option>@ViewBag.SearchParams[i]</option>
                }
            </select>
        </div>

        <div class="col-md-2">
            <input id="SearchInput" class="form-control" placeholder="Looking for..." />
        </div>


        <button class="btn btn-primary" onclick="ajaxApplyFilters('Viewings', document.getElementById('SortParam').selectedIndex, document.getElementById('SearchParam').selectedIndex, $('#SearchInput').val());">Apply Filters</button>
        <a asp-controller="Viewings" asp-action="Index" class="btn btn-default">Reset Filters</a>
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </div>
</div>

<div class="row main-block">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ViewDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Client)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Property)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ViewDate.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.ClientPassportNo)
                    </td>
                    <td>
                        No @Html.DisplayFor(modelItem => item.Property.PropertyNo) , @Html.DisplayFor(modelItem => item.Property.City)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ViewNo">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ViewNo">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ViewNo">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>